@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: #06000c;
    background-image: url(black_hole.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    
    display: flex;
    flex-direction: column;
    min-height: 100%;

    overflow: overlay;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgba(68, 68, 68, 0.7);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(92, 92, 92);
}

header {
    background-color: #0b0b27;
    border-bottom: 1px #ba155b solid;
    margin-bottom: auto;
    padding: 2vh 0vh;
}

header h1 {
    text-align: center;
    opacity: 1;
    font-style: italic;
    font-size: 200%;
}

header nav {
    margin-left: 1vh;
}

.buttom{
    text-decoration: none;
    border: 1px #111 solid;
    border-radius: 10px;
    padding: 7px;
    background-color: #333;
    color: #eee;
}

.buttom:hover {
    background-color: #444;
}

main {
    margin-left: 10vh;
    margin-right: 10vh;
    padding: 3em;
    background-color: #06000c5b;
}

main ul, p {
    font-size: 1.4em;
}

main h2 {
    text-align: center;

}

main p {
    text-indent: 3vh;
}

.imgConfig {        
    margin-right: 3rem;
    border: 1px #7c0e3c solid;
    background-color: #413f92;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: fit-content;
}

.imgConfig img {
    max-height: 340px;
    max-width: 620px;
    width: auto;
    height: auto;
}

.imgConfig figcaption {
    text-align: center;
    padding-bottom: 6px;
}

.container {
    display: flex;
    margin-top: 4vh;
}

.itemBox1 {
    order: 1;
    flex: 1;
}

.itemBox2 {
    order: 2;
    flex: 1;
}

.info {
    color: #fc056c;
}

footer {
    background-color: #0b0b27;
    border-top: 1px #ba155b solid;
    margin-top: auto;
    padding: 2vh 0vh;
}

footer p {
    color: aliceblue;
    text-align: center;
    font-size: 0.75em;
}