@charset "utf-8";
body{
    background-color: ;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    color: ;
    margin-left: auto;
    margin-right: auto;
    width: 0%;
}