@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: #06000c;
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    
    display: flex;
    flex-direction: column;
    min-height: 100%;

    overflow: overlay;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgba(68, 68, 68, 0.7);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(92, 92, 92);
}

header {
    background-color: #0b0b27;
    border-bottom: 1px #ba155b solid;
    margin-bottom: auto;
    padding: 2vh 0vh;
}

header h1 {
    text-align: center;
}

.container {
    background-color: antiquewhite;
    height: 100vh;
    display: grid;      /* define que vou trabalhar com grid */
    grid-template-columns: 200px 200px;     /* distancia de cada linha vertical */
    grid-template-rows: 200px 200px 200px;  /* distancia de cada linha horizontal */

    align-content: center;      /* alinha na vertical */
    justify-content: center;    /* alinha na horizontal */
}

.tamItem {
    width: 150px;
    height: 150px;
    border: 1px #06000c solid;
}

.item1 {
    background-color: blue;
}

.item2 {
    background-color: blueviolet;
}

.item3 {
    background-color: chartreuse;
}

.item4 {
    background-color: crimson;
}

.item5 {
    background-color: coral;
}

.item6 {
    background-color: royalblue;
}

footer {
    background-color: #0b0b27;
    border-top: 1px #ba155b solid;
    margin-top: auto;
    padding: 2vh 0vh;
}

footer p {
    color: aliceblue;
    text-align: center;
}