@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: #06000c;
    color: #fff;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background-color: #0b0b27;
    border-bottom: 1px #ba155b solid;
    margin-bottom: auto;
    padding: 2vh 0vh;
}

header h1 {
    text-align: center;
}

.container {
    display: inline-grid;
    background-color: #232238;

    grid-template-columns: repeat(3, 1fr [col-start]);
}

div .gridSize {
    width: 200px;
    height: 200px;
    font-size: 200%;
    margin-left: auto;
    margin-right: auto  ;
}

.item1 {
    background-color: #ba155b;
}

.item2 {
    background-color: #f7b115;
}

.item3 {
    background-color: #413f92;
}

footer {
    background-color: #0b0b27;
    border-top: 1px #ba155b solid;
    margin-top: auto;
    padding: 2vh 0vh;
}

footer p {
    color: aliceblue;
    text-align: center;
}