body {
  margin: 0;
  color: aliceblue;
  background-color: black;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
}

.innerHTMLContainer {
  width: 35%;
  height: 100vh;
  text-align: center;
  border-right: 1px solid white;
  background-color: black;
  z-index: 2000;
}

.planet {
  width: 65%;
  position: absolute;
  left: 18vw;
}