@charset "utf-8";
*{
    background-color: #474747;
    color: azure;
}

header h1{
    font-size: 250px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
}

#font1{
    font-family: 'Inspiration', cursive;
    font-size: 25px;
    background-color: #cc527a;
}

#font2{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    background-color: #a8a7a7;
}

#font3{
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 25px;
    background-color: #363636;
}

small{
    font-style: italic;
    text-align: left;
}

img#displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
}